
.colorNumberUp{
	content:url("../img/up.gif");
}

.colorNumberDown{
	content:url("../img/down.gif");
}

.iconYahoo{
	content:url(../img/yahoo-icon.png);
    /* content: '';
    display: block; */
    height: 13px;  /*height of icon */
    width: 15px;  /*width of icon */
    /* position: absolute;
    top: 0px;
    left: -40px; */
}

.iconWarning{
	content:url(../img/warning.png);
    /* content: '';
    display: block; */
    height: 15px;  /*height of icon */
    width: 17px;  /*width of icon */
    /* position: absolute;
    top: 0px;
    left: -40px; */
}

.iconWarningGreen{
	content:url(../img/warning_green.png);
    height: 15px;  /*height of icon */
    width: 17px;  /*width of icon */
}

.custom-select-button .p-button:focus {
    box-shadow: none !important;
}

.custom-select-button .p-button .p-button-label.p-c {
    color: black
}

.custom-select-button .p-button.p-highlight .p-button-label.p-c {
    color: white
}

.custom-select-button .p-button {
    background-color: #d4d2d2;
    color: white;
    /*border-color: #c0392b;*/
}

.custom-select-button .p-button.p-highlight {
    background-color: #969696;
    border-color: #7d7d7d;
    color: #fff;
}

.custom-select-button .p-button:hover {
    background-color: #bdbcbc;
    /*border-color: #d35400;*/
}

.custom-select-button .p-button.p-highlight:hover {
    background-color: #808080;
    /*border-color: #d35400;*/
}